html, body {
  box-sizing: border-box;
}

#container {
  height: 100%;
}

#centered-div {
  height: 34em;
  width: 85%;
}

#smallDiv {
  width: 85%;
  height: 50em;
}

#row1 {
height: 100%;
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
background-color: #ffc700;
}
#row2 {
height: 100%;
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
background-color: #ffac00;
}
#load {
  position: fixed;
  top: 30%;
  right: 35%;
}

@media (max-width: 890px) {
  #centered-div {
    display: none;
  }
  #smallDiv {
    display: visible;
  }
  #load {
    position: fixed;
    top: 35%;
    right: 25%;
  }
}

@media (min-width: 891px) {
  #smallDiv {
    display: none;
  }
}
@media (max-width:700px) {
  #smallDiv {
    width: 95%;
  }
}

